/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.body-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(-45deg, #2c3e50, #3498db);
}

#root {
  height: 100vh;
  width: 100%;
  background: none;
  overflow: auto;
}

.container-primary {
  width: 700px;
  height: 785px;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 25px;
  border: 3px solid silver;
}

.container_login {
  width: 300px;
  height: 350px;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 25px;
  border: 3px solid silver;
}

.btn-user-type {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.pretty-buttons {
  background: linear-gradient(-45deg, #2c3e50, #3498db);
}

.nav-link {
  color: black;
}

.signup-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.state-city {
  display: block;
  align-items: baseline;
}

#header-logo {
  background: url("https://1.bp.blogspot.com/-T66fB2A7eaU/YVCf1yjn7dI/AAAAAAAAAAM/VMfp4LAlxbcyJ4dbfEjNgVSIaeIGcFjqACLcBGAsYHQ/s1280/Aegis%2BLogo%2BTemp.png")
    no-repeat center center;
  background-size: cover;
  width: 152px;
}

#welcome-logo {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.welcome-vertical-alignment {
  padding-top: 8%;
}

.profile-page-image-cropper {
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 50%;
}

.has-rounded-corners {
  border-radius: 25px;
}

.is-a-beautiful-sunset {
  background: linear-gradient(to right, #30e8bf, #ff8235);
}

.is-kinda-gray {
  background-color: #ecf0f3;
}

.catalog-item-button {
  margin-left: 60px;
  margin-top: 10px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.catalog-item-button-sponsor {
  margin-left: 60px;
  margin-top: 10px;
  background-color: #d30909; /* Red */
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.catalog-item-text {
  padding-left: 60px;
  font-weight: bold;
}

.catalog-item-image {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.modal-backdrop {
  z-index: -1;
}

.scroll-table {
  overflow: scroll;
  height: 70%;
  width: 150%;
  overflow: auto;
}

.logs-scroll-table {
  overflow: scroll;
  height: 23%;
  width: 150%;
  overflow: auto;
}

.logs-notification {
  max-height: 38%;
}
